package-lock.json
dist/*
test/results/mochawesome/*.*
test/results/mochawesome/assets/*.*
test/results/load/*.*
test/results/coverage/*
test/results/lint/*.*
package.zip
.nyc_output
node_modules/*
.DS_Store
.vscode/*